<h2>Trains</h2>
<ul class="trains">
  <li *ngFor="let train of trains"
      (click)="onSelect(train)"
      [class.selected]="train === selectedTrain">
    <span class="id">{{train.numTrain}}</span> {{train.villeDepart}} - {{train.villeArrivee}}
    <span class="time">{{train.heureDepart}}</span>
  </li>
</ul>

<div>
  <button (click)="displayNewTrainForm()">Add a train</button>
</div>

<div *ngIf="isNewTrain">
  <app-new-train-form [notSubmitted]="isNewTrain" (submitChange)="mySubmitValueChange($event)"></app-new-train-form>
</div>

<div *ngIf="selectedTrain">
  <h3>
    {{selectedTrain.villeDepart}} - {{selectedTrain.villeArrivee}}
  </h3>
</div>
